{% extends "layout.html" %}
{% block body_content %}
	{% for team in teams %}
		<br>
		<h1>
		Team {{ loop.index }}
		</h1>
		<h2>{{ team.character1 }}, {{ team.character2 }}, {{ team.character3 }}, {{ team.character4 }}</h2>
		<h3>{{ text }}</h3>
		<div>
			<form action="{{ url_for('updateteam') }}">
				<button class="btn" type="submit">Update Team</button>
			<form action class="{{ url_for('deleteteam') }}">
				<button class="btn" type="submit">Delete Team</button>
		</div>
		</p>

	{% endfor %}
{% endblock %}